body {
    margin: 10% 15%;
    background-image: linear-gradient(to bottom right, darkblue, lightblue, white);
}

ul {
    margin: 0;
}

li {
    margin: 0;
}

h1, h2 {
    margin: 0;
}

p {
    margin: 0;
}

label {
    margin-bottom: 8px;
    display: block;
}

textarea {
    margin-bottom: 5px;
    display: block;

}

.judul {
    border-radius: 15px;
    position: relative;
    top: 15px;
    left: 30px;
    padding: 10px;
    display: inline-block;
    background-color: rgb(226, 173, 0);
}

.body-form {
    border-radius: 15px;
    border: 5px solid lightgray;
    padding: 15px;
    background-color: whitesmoke;
}

.bold-text {
    font-weight: bold;
}

.logo {
    position: relative;
    bottom: 80px;
    left: 40px;
    float: right;
    width: 300px;
}

.submit-button {
    
    text-align: center;
    width: 400px;
    height: 50px;
    font-weight: bold;
    background-color: lightgray;
}